<a href="/sessions/destroy">Logout</a>


<h2>Name: <%=@borrower.first_name%> <%=@borrower.last_name%></h2>
<h2>Amount Needed: <%=number_to_currency(@borrower.money)%></h2>
<h2>Amount Raised: <%=number_to_currency(@borrower.raised)%></h2>


<h3>List of people who lend you money:</h3>
<table>
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Amount Lent</th>
	</thead>
	<tbody>
		<% if @history %>
			<% @history.each do |history| %>
			<tr>
				<td><%=history.first_name%> <%=history.last_name%></td>
				<td><%=history.email%></td>
				<td><%=number_to_currency(history.amount)%></td>
			</tr>
			<%end%>
		<% end %>
	</tbody>
</table>