<a href="/sessions/destroy">Logout</a>


<h2>Name: <%=@lender.first_name%> <%=@lender.last_name%></h2>
<h2>Amount Balance: <%=number_to_currency(@lender.money)%></h2>

<% if flash[:error] %>
	<h4><%=flash[:error]%></h4>
<%end%>

<h3>List of people in need of help:</h3>
<% if @borrowers_not_lent %>
	<table>
		<thead>
			<th>Name</th>
			<th>Need Money For</th>
			<th>Reason for Loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Amount Lent</th>
		</thead>
		<tbody>
		<% @borrowers_not_lent.each do |borrower| %>
		<tr>
			<td><%=borrower.first_name%> <%=borrower.last_name%></td>
			<td><%=borrower.purpose%></td>
			<td><%=borrower.description%></td>
			<td><%=number_to_currency(borrower.money)%></td>
			<td><%=number_to_currency(borrower.raised)%></td>
			<td>
				<form method="post" action="/histories">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type="hidden" name="borrower_id" value="<%=borrower.id%>">
					<input type="text" name="amount">
					<input type="submit" value="Lend">
				</form>
			</td>
		</tr>
	<% end %>
		</tbody>
	</table>
<%end%>




<h3>List of People you lend money to:</h3>
<% if @borrowers_lent %>
	<table>
		<thead>
			<th>Name</th>
			<th>Need Money For</th>
			<th>Reason for Loan</th>
			<th>Amount Needed</th>
			<th>Amount Raised</th>
			<th>Amount Lent</th>
		</thead>
		<tbody>
		<% @borrowers_lent.each do |borrower| %>
		<tr>
			<td><%=borrower.first_name%> <%=borrower.last_name%></td>
			<td><%=borrower.purpose%></td>
			<td><%=borrower.description%></td>
			<td><%=number_to_currency(borrower.money)%></td>
			<td><%=number_to_currency(borrower.raised)%></td>
			<td><%=number_to_currency(borrower.amount)%></td>
		</tr>
	<% end %>
		</tbody>
	</table>
<%end%>

	
